body {
    height: 90vh;
    background-color: black;
    color: crimson;
}

.bottom {
    width: 50%;
    margin: auto;
    height: 3vh;
    margin-top: 3em;
}

.thermometer {
    width: 100%;
    margin: auto;
    height: 70%;
    border-radius: 15px;
    margin-bottom: 1em;
    border: 5px solid #fff;
}

.temp {
    color: #fff;
}

#energy-usage, #error {
    width: 80%;
    margin: auto;
    height: 60%;
    border-radius: 5px;
    font-size: 1vw;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    text-align: center;

    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
.topbar {
    width: 100%;
    margin-bottom: 5em;
}

main {
    width: 75%;
    height: 100%;
    margin: auto;
}

h1 {
    font-family: 'Terminator Real NFI';
    font-size: 3vw;
    text-align: center;
    text-shadow: 0 3px 0px white;
}

.power-saving-butt {
    color: #fff;
    background-color: deepskyblue;
    height: 1em;
    font-size: 1vw;
    text-align: center;
    font-family: sans-serif;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 4px 0px #828282;
    margin-right: .5em;
}

.left, .right, .middle {
    position: relative;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.middle {
    width: 26%;
}

.left, .right {
    width: 36.5%;
    vertical-align: top;
}

.fa {
    font-size: 4.5vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.fa:active {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.fa-refresh:active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.ps-on {
    color: #00d000;
}

.ps-off {
    color: gray;
}

.info {
    list-style: none;
    text-align: right;
    vertical-align: top;
    font-size: 2.5vh;
    line-height: 2;
    font-family: Oswald;
    letter-spacing: 2px;
}

.temp-controls {
    text-align: left;
    padding-left: 10em;
}

.temp {
    font-family: Oswald;
    color: #fff;
    font-size: 3vw;
    position: absolute;
    top: 38%;
    left: 38%;
    text-shadow: 0 2px 6px #000;
}
li > span {
    color: #fff;
}
